.inputBoxes{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stateBox{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 13px;
}
.stateLabel{
    position: relative;
    height: 15px;
    top: 4px;
    left: 0px;
    font-size: 13px;
    margin-left: 10px;
    padding: 1px 5px;
    background-color: white;
    z-index: 70;
    color: black;
}
.stateSelectContainer{
    width: 95%;
    font-size: 1.1rem;
    cursor: pointer;
    line-height: 1.1;
    z-index: 50;
}
.buttons{
    width: 70%;
    margin-top: 20px;
    margin: 25px auto 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.checkboxlabel{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto 0px;
}
.checkbox{
    flex-grow: 0;
    width: 15px;
    height: 20px;
    margin: 0;
}
.checkbox+span{
    font-size: 16px;
    margin-left: 5px;
}
.buttons button{
    font-size: 17px;
    padding: 10px 55px;
    margin-left: 50px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}
.buttonCancel{
    box-shadow: 1px 1px 3px rgb(100, 99, 99),inset -1px -1px 2px rgb(171, 171, 171);
    background-color:white ;
}
.buttonSave{
    box-shadow: 1px 1px 4px rgb(100, 99, 99),inset -1px -1px 3px rgb(171, 171, 171);
    background-color: rgb(255, 93, 48);
    color: white;
    font-weight: 800;
}
.buttonSave:hover{
    background-color: rgb(231, 56, 56);
}
.buttonCancel:hover{
    background-color:rgb(248, 248, 248) ;
}
.buttonSave:active,.buttonCancel:active{
    transform: translate(1px,1px);
}
.searchBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    position: relative;
    margin-top: 5px;
}

.searchLabel{
    position: relative;
    transition: 0.1s;
    height: 15px;
    top: 31px;
    left: 10px;
    color: rgb(156, 156, 156);
    font-size: 16px;
    margin-left: 10px;
}
.inputBox{
    height: 50px;
    width: 100%;
    margin: 0;
    font-size: 18px;
    letter-spacing: 0.6px;
    padding:  10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(205, 205, 205);
    background-color: transparent;
    z-index: 10;
}
.inputBox:focus{
    border: 2px solid black;
}
.errorMessage{
    padding-left: 2px;
    position: relative;
    top: 7px;
    color: red;
    font-size: 0.8rem;
    margin: -8px 0px;
}
.inputBoxes>p{  
    margin: 18px auto -15px;
    text-align: left;
    width: 70%;
    font-size: 0.8rem;
}