.title {
    font-size: 25px;
    font-weight: 600;
    margin: 0px 0px 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    text-align: left;
    padding-bottom: 30px;
    border-bottom: rgb(182, 182, 182) solid 1px;
}

.detail {
    margin-bottom: 20px;
}
.submit {
    color: white;
    padding: 10px 45px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: #222;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.submit:hover {
    transform: translate(0px, -1px);
}

.account {
    padding: 10px 0px 30px;
}

.account button {
    color: blue;
    margin-left: 5px;
    font-size: 17px;
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}
.reset{
    padding: 15px 0px 5px;
    color: blue;
    font-size: 17px;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    background: none;
}
.error {
    padding: 10px 30px;
    background-color: rgb(253, 182, 182);
    color: rgb(138, 0, 0);
    border-radius: 5px;
    margin-bottom: 15px;
}