.login{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.content{
    position: relative;
    width: 50%;
    max-width: 550px;
    min-width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.closeBtn{
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 22px;
    cursor: pointer;
    transition: .2s;
}
.closeBtn:hover{
    transform: translate(0px,-1px);
}
.closeBtn:active{
    transform: translate(0px,1px);
}
.title{
    font-size: 25px;
    font-weight: 500;
    margin: 0px 0px 20px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: rgb(182, 182, 182) solid 1px;
}
.detail{
    margin-bottom: 30px;
}
.emailArea{
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.emailArea input{
    width: 100%;
    font-size: 1rem;
    padding: 9px 10px 5px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
}
.emailArea input:hover,
.emailArea input:focus{
    border: 1px solid rgb(90, 90, 90);
}
.passwordArea{
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    display: flex; 
}
.passwordArea input{
    flex-grow: 10;
    font-size: 1rem;
    border: none;
    border: 1px solid #ccc;
    border-right: none;
    padding: 9px 10px 5px;
    border-radius: 5px 0px 0px 5px;
    outline: none;
}
.passwordArea input:hover,
.passwordArea input:focus{
    border: 1px solid rgb(90, 90, 90);
    border-right: none;
}
.passwordArea input:hover +.hide,
.passwordArea input:focus +.hide{
    border: 1px solid rgb(90, 90, 90);
    border-left: none;
}
.email,.password{
    position: absolute;
    font-size: 12px;
    top: -7px;
    left: 10px;
    background-color: white;
    padding: 0px 3px;
}
.hide{
    padding-top: 8px;
    padding-right: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
}
.submit{
    color: white;
    padding: 10px 45px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    background-color: #222;
    border: none;
    cursor: pointer;
    transition: .2s;
}
.submit:hover{
    transform: translate(0px,-1px);
}
.account{
    padding: 10px 0px 15px;
}
.account button{
    color: blue;
    margin-left: 5px;
    font-size: 14px;
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}