.checkoutContent{
    margin: auto;
    width: 90%;
    display: flex;
    max-width: 1300px;
}
.backToCart{
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    width: 170px;
    justify-items: flex-start;
    align-items: center;
}
.faChevronLeft{
    margin-right: 5px;
    font-size: 1.5rem;
}
.checkoutDetail{
    width: 70%;
    max-width: 750px;
}
/* Address */
.shoppingAddress{
    background-color: rgb(252, 252, 252);
    text-align: left;
    border: 1.5px solid rgb(217, 217, 217);
    border-radius: 5px;
    margin: 10px 0px;
    min-width: 420px;
}
.shoppingAddressTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(232, 232, 232);
    border: 1.5px solid rgb(217, 217, 217);
    padding: 10px 20px;
    color:rgb(124, 124, 124) ;
}
.shoppingAddressTitle > p{
    margin: 10px 0px;
    font-size: 1.2rem;
    font-weight: 600;
}
.shoppingAddressTitle >button{
    font-size: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    color: rgb(66, 66, 255);
}
.shoppingAddressTitle > button:hover{
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

/*  Edit Address */
.editAddress{
    font-weight: 700;
    text-align: left;
    border: 1.5px solid rgb(225, 225, 225);
    border-radius: 5px;
    margin: 10px 0px;
    min-width: 420px;
}
.editAddressTitle{
    font-size: 1.2rem;
    padding: 15px 15px;
    border-bottom: 1px solid rgb(198, 198, 198);
}
.addressName{
    font-size: 16px;
    font-weight: 600;
    color: rgb(93, 93, 93);
}
.addressStreet{
    font-size: 15px;
    color: rgb(93, 93, 93);
}
