*{
    padding: 0;
    margin: 0;
}
.mvArea{
    background-color: beige;
    position: relative;
    width: 100%;
    height: 90vh;
}
.mvList{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: .5s;
    list-style: none;
}
.scroll .mvList{
    width: 70%;
    height: 50%;
}

.mvList > li{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
}
.image1{
    background-image: url('../../../public/cloth-ga0d53c58a_1920.jpg');
    animation: fade 10s linear infinite;
    background-size: 150% auto;
}
.image2{
    background-image: url('../../../public/coconut-g0882ddd0b_1920.jpg');
    animation: fade 10s linear infinite;
    animation-delay: 5s;
}

@keyframes fade {
    0%{
        opacity: 0;
        background-size: 130vw auto;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        background-size: 110vw auto;
    }
}