.productDetail{
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-top: none;
 }
 .description{
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: #333;
    padding: 10px 20px;
    margin-bottom: 20px;
 }
 .productArea{
     padding: 20px 20px;
 }
 .ratingSummary{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    
 }
 .ratingNumber{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 10px;
 }
 .ratingStars{
    position: relative;
    font-size: 20px;
 }
 .emptyStars{
    display: flex;
    justify-items: center;
    align-items: baseline;
 }
 .fullStars{
    display: flex;
    justify-items: center;
    align-items: baseline;
    flex-wrap: nowrap;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
 }
 .writeReviewBtn{
    margin-top: 10px;
    padding: 5px 0px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
 }
 .rating{
    font-size: 2.7rem;
    font-weight: 800;
 }
 .ratingHistogram{
    display: flex;
    flex-direction: column;
 }
 .starLink{
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    margin: 2px;
    font-size: 14px;
    cursor: pointer;
 }
 .ratingText{
    text-decoration: underline;
    width: 60px;
    text-align: left;
 }
 .ratingBar{
    width: 170px;
    height: 7px;
    background-color: #ddd;
    border-radius: 5px;
 }
.barPercent{
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 5px;
 }
 .ratingPercent{
    width: 50px;
    text-decoration: underline;
 }
 .starLink:hover >.ratingPercent,
 .starLink:hover >.ratingText{
    text-decoration: none;
 }
 .ratingPercent:hover,.ratingText:hover{
    text-decoration: none;
 }

/* review zone */

.reviewFilter{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    margin: 15px 18px 0px;
}
.reviewSelect select option{
    font-size: 17px;
    padding: 5px 15px;
}
.reviewBox{
    padding: 25px 20px;
    border: 1px solid rgb(183, 183, 183);
    margin: 15px;
    border-radius: 7px;
}
.reviewSummary{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
}
.reviewTitle{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
}
.reviewRating{
    margin-left: -2px;
    margin-bottom: 7px;
}
.reviewWriter{
    font-size: 12px;
    color: rgb(97, 97, 97);
}
.reviewDetail{
    display: flex;
    justify-content: space-between;
}
.reviewDay{
    font-size: 14px;
    color: rgb(97, 97, 97);
}
.reviewText{
    text-align: left;
    font-size: 16px;
}