.addReviewArea{
    padding: 20px;
    border-bottom: 1px solid rgb(156, 156, 156);
}
input{
    font-size: 20px;
    margin-left: 10px;
}
.addReviewArea form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    font-size: 20px;
}
.addReviewNickname{
    margin: 10px 0px;
}
.addReviewRating{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}
.addReviewRating div{
    margin-right: 10px;
}
.addReviewTitle{
    margin: 10px 0px;
}
.addReviewDescription{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0px;
}
.addReviewDescription p{
    margin: 0px 0px 10px;
}
.addReviewBtn{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}
.addReviewBtn button{
    font-size: 20px;
    margin-right: 100px;
}