.box{
    display: none;
    color: black;
    position: absolute;
    white-space: nowrap;
    top: -25px;
    left: 50%;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    transform: translateX(-50%);
    padding: 5px 12px;
    opacity: 0;
    cursor: default;
}
.box::after{
    content: '';
    position: absolute;
    top: 19px;
    right: 50%;
    width: 10px;
    height: 12px;
    background-color: white;
    transform: rotate(45deg) translateX(50%);
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0px 0px 3px 0px;

}