.header {
    position: fixed;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    padding: 0px 10%;
    border-bottom: 2px solid #ddd;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
}

.logo a {
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

nav a {
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 1rem;
    text-decoration: none;
}
nav button {
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 1rem;
    text-decoration: none;
}

.signIn {
    border: none;
    padding: 7px 15px;
    background: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    transition: .2s;
}

.signIn:hover {
    background-color: #ddd;
}

.signIn:active {
    transform: translate(0px, 2px);
}

.user {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.1em;
    font-weight: 700;
    margin-right: 30px;
    padding: 5px 0px;
}
.user::after{
    content: '';
    position: absolute;
    right: -25px;
    width: 0px;
    height: 0px;
    margin: 5px;
    margin-top: 7px;
    border-top: 7px solid #aaa;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.userPicture{
    width: 35px;
    margin: 0px 5px 0px 10px;
    border-radius: 50%;
    font-size: 5px;
}
.userBox{
    display: none;
    position: absolute;
    border: 1px solid rgb(239, 239, 239);
    background-color: white;
    width: calc( 100% + 30px );
    min-width: 110px;
    top: 45px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.15);
    padding: 7px 0px;
}
.userBox .signout{
    position: relative;
    margin: 7px 20px 7px;
    padding: 0px 5px 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}
.signout::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    transition: width .4s cubic-bezier(.45,.05,.5,.1);
    border-bottom: 2px solid #555;
}
.signout:hover::after{
    width: 100%;
}

.user:hover > .userBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userBox:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart{
    position: relative;
    font-size: 1.5rem;
    margin-right: 10px;
    margin-left: 15px;
    padding-right: 10px;
}

.cartCount{
    position: absolute;
    width: 18px;
    font-weight: 800;
    font-size: .8rem;
    bottom: -2px;
    right: 0px;
    padding: 1px 0px;
    background-color: rgb(255, 62, 62);
    color: white;
    border-radius: 50%;
}
.cart:hover > .cartCount{
    animation: jump .5s ease;
}
@keyframes jump{
    0%{
        transform: translateY(0px);
    }
    35%{
        transform: translateY(-18px);
    }
    70%{
        transform: translateY(0px);
    }
    85%{
        transform: translateY(-4px);
    }
}