.uploadArea {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    position: relative;
    width: 50%;
    max-width: 700px;
    min-width: 600px;
    height: auto;
    padding: 50px 20px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.closeBtn {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.closeBtn:hover {
    transform: translate(0px, -1px);
}

.closeBtn:active {
    transform: translate(0px, 1px);
}
.uploadLabel{
    font-size: 18px;
}
.uploadInput{
    font-size: 18px;
}
.uploadButton{
    margin: 20px;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.uploadImageZone{
    height: auto;
    position: relative;
    z-index: 1000;
}
.uploadImage{
    position: relative;
    border: none;
    vertical-align: middle;
}
.uploadImageBackground{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow:hidden;
}
.uploadImageCircle{
    position: absolute;
    box-shadow: 0 0 0 500px #00000044;
    width: 100%;
    height:  100%;
    border: 2px dashed rgb(255, 255, 255);
    border-radius: 50%;
    top: 0px;
    left: 0px;
    background-clip:content-box;
}
.uploadImageSquare{
    position: absolute;
    width: 250px;
    height: 250px;
    border:2px solid rgba(18, 18, 18, 0.579);
    top: 0px;
    left: 0px;
    cursor: move;
    background-clip:content-box;
}
.SECircle{
    left: 100%;
    top: 100%;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    cursor:nwse-resize;
    transform: translate(-10px,-10px);
}


.SECircle::before{
    bottom: -5px;
    right: -5px;
}
.fileDragZone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    border: 3px dashed rgb(112, 112, 112);
    border-radius: 10px;
    background-color: #b1b1b137;
    z-index: 100;
    
}
.fileDragZone::before {
    content: 'Drag and drop your file here';
    font-size: 24px;
    z-index: 50;
}
.fileDragZone::after {
    content: 'Please upload a picture smaller than 3 MB.';
    font-size: 13px;
    margin-top:10px;
    color: rgba(0, 0, 0, 0.684);
    z-index: 50;
}
.fileDragZone.dragActive{
    background-color: #ffffff;
    border: 3px solid rgb(79, 43, 255);
    font-weight: 700;
    opacity: 0.7;
}
.error{
    color: rgb(118, 0, 0);
    background-color: rgb(242, 192, 192);
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgb(255, 154, 154);
}
.uploadingZone{
    display: flex;
    flex-direction: row;
    align-items:center;
    margin: 20px;
    padding: 15px 15px;
    font-size: 18px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
}
.uploading{
    position: relative;
    background-color:transparent;
    
}
.uploadingContent{
    padding: 5px 10px;
    position: relative;
    border-right: 2px solid rgb(247, 128, 128);
    border-left: 2px solid rgb(247, 128, 128);
    border-radius: 0px;
}
.uploadingProgress{
    position: absolute;
    top: 0;
    height: 100%;
    border-radius: 2px;
    background-color: rgb(255, 174, 174);
}
.uploadingCancel{
    padding: 5px 10px;
    font-size: 18px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
    border: none;
    cursor: pointer;
    color: blue;
}
.uploadingCancel:hover{
    background-color: rgb(228, 228, 228);
}
.uploadingCancel:active{
    transform: translate(1px,1px);
}
.uploadingSucceed{
    width: 300px;
    color: rgb(0, 185, 0);
    font-weight: 700;
}